    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    }
</style>
                        <table id="table1">

								<tr >
									<th>#</th>
                                    <th>Product/SE</th>
                                    <th>HSN/SAC</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>GST</th>
                                    <th></th>
								</tr>
                                <tr >
									<td>1</td>
                                    <td><select>
                                        <option value="prod1">Product 1</option>
                                        <option value="prod2">Product 2</option>
                                        <option value="prod3">Product 3</option>
                                        <option value="prod4">Product 4</option>
                                        </select>
                                    </td>
                                    <td><input onclick="myFunction(this)" type="text" name="HSN/SAC"></td>
                                    <td><input onclick="myFunction(this)" type="text" name="Description"></td>
                                    <td><input onclick="myFunction(this)" type="number" name="Qty"></td>
                                    <td><input onclick="myFunction(this)" type="number" name="Rate"></td>
                                    <td><input onclick="myFunction(this)" type="number" name="Amount"></td>
                                    <td><input type="number" name="GST"></td>
                                    <td><input type="button" value="Del" onclick="deleteRow('table1', 1)"></td>
								</tr>
						</table>

    <script>
        function deleteRow(id,x){
            document.getElementById(id).deleteRow(x);
        }
        function myFunc(x){

        }
    </script>
